Repository klinkin/awesome-steinschliff: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, check-cyrillic

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-added-large-files
        args: ['--maxkb=1024']
      - id: check-yaml
      - id: check-json
      # - id: check-toml
      # - id: no-commit-to-branch
      #   args: [--branch, main]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --skip=*.min.js,*.lock,*.svg,node_modules,dist
          - --ignore-words-list=schliff,Schliff,Ramsau,Serviccer,Salomon,Rossignol,Fischer,Madshus,Skipole

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-d', '{extends: default, rules: {line-length: disable}}']

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: ['--disable', 'MD013,MD012,MD024,MD004']

  # Локальные — через Poetry, чтобы использовать твои версии и конфиги
  - repo: local
    hooks:
      - id: ruff
        name: Ruff (poetry)
        entry: poetry run ruff check
        language: system
        types: [python]

      - id: black
        name: Black check (poetry)
        entry: poetry run black --check
        language: system
        types: [python]

      - id: mypy
        name: Mypy (poetry)
        entry: poetry run mypy steinschliff scripts tests
        language: system
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-cyrillic
        name: Forbid Cyrillic in file names and YAML name/similars
        entry: python scripts/check_cyrillic.py
        language: python
        types: [file]
        files: ^(schliffs/|README\.md)

использование rich.traceback.install
  poetry.lock
  pyproject.toml
  scripts/check_cyrillic.py
  scripts/gen_readme_new.py
  scripts/manage_translations.py
  steinschliff/utils.py
Due: ruff, black

использование rich.traceback.install
  scripts/gen_readme_new.py
  steinschliff/utils.py
Due: ruff, black

chore: rich integration + progress bars; fix imports and formatting
  scripts/gen_readme_new.py
  scripts/gen_site.py
Due: ruff, black

добавил Typer
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  scripts/check_cyrillic.py
  scripts/cli.py
  scripts/gen_readme.py.bak
  scripts/gen_readme_new.py
  scripts/manage_translations.py
  scripts/templates/readme_en_header.md
  scripts/templates/readme_ru_header.md
Due: ruff, black

новые структуры
  README.md
  README_en.md
  schliffs/atomic/AC3.yaml
  schliffs/atomic/AC4.yaml
  schliffs/atomic/AC5.yaml
  schliffs/atomic/AM1.yaml
  schliffs/atomic/AM2.yaml
  schliffs/atomic/AM6.yaml
  schliffs/atomic/AW1.yaml
  schliffs/atomic/AW7.yaml
  schliffs/ramsau/OH3.yaml
  schliffs/salomon/SL22.yaml
Due: check-cyrillic

polish
  README.md
  README_en.md
  schliffs/beme/_meta.yaml
  schliffs/fischer/C1-1.yaml
  schliffs/fischer/P10-1.yaml
  schliffs/fischer/P3-1.yaml
  schliffs/fischer/P3-2.yaml
  schliffs/fischer/P5-9.yaml
  schliffs/fischer/P9-2.yaml
  schliffs/fischer/TZ1-1.yaml
  schliffs/ramsau/Pl1.yaml
  schliffs/salomon/SL22.yaml
  scripts/cli.py
  steinschliff/generator.py
  steinschliff/i18n.py
  steinschliff/utils.py
Due: ruff, black, check-cyrillic

feat(cli): добавить команду list с фильтром по сервису и тёплой→холодной сортировкой
  scripts/cli.py
Due: ruff, black

chore: добавить cursor rules и исправить линтинг
  .cursor/mcp.json
  .cursor/rules/project.mdc
  Makefile
  README.md
  README_en.md
  scripts/cli.py
  structures.csv
Due: ruff, black, check-cyrillic

Переход на uv
  .cursor/mcp.json
  COMMANDS_USAGE.md
  DEVELOPING.md
  Makefile
  poetry.lock
  pyproject.toml
  scripts/__init__.py
  scripts/check_cyrillic.py
  scripts/cli.py
  steinschliff/generator.py
  steinschliff/i18n.py
  steinschliff/models.py
  steinschliff/utils.py
  tests/steinschliff/test_formatters.py
  tests/steinschliff/test_generator.py
  tests/steinschliff/test_i18n.py
  tests/steinschliff/test_i18n_subprocess.py
  tests/steinschliff/test_utils.py
  uv.lock
Due: ruff, black

refactor: split utils into io/ui/logging
  scripts/__init__.py
  scripts/cli.py
  scripts/manage_translations.py
  steinschliff/generator.py
  steinschliff/i18n.py
  steinschliff/io/__init__.py
  steinschliff/io/yaml.py
  steinschliff/logging.py
  steinschliff/ui/__init__.py
  steinschliff/ui/rich.py
  steinschliff/utils.py
  tests/steinschliff/test_utils.py
  tests/steinschliff/test_utils_extra.py
Due: ruff, black

refactor(cli): split scripts.cli into package
  scripts/cli.py
  scripts/cli/__init__.py
  scripts/cli/app.py
  scripts/cli/commands/__init__.py
  scripts/cli/commands/conditions.py
  scripts/cli/commands/export_csv.py
  scripts/cli/commands/export_json.py
  scripts/cli/commands/generate.py
  scripts/cli/commands/list_cmd.py
  scripts/cli/common.py
Due: ruff, black

refactor(snow_conditions): вынести snow conditions в доменный модуль и переиспользовать в models/CLI
  scripts/cli/commands/conditions.py
  scripts/cli/common.py
  steinschliff/models.py
  steinschliff/snow_conditions/__init__.py
  steinschliff/snow_conditions/registry.py
  tests/steinschliff/test_snow_conditions.py
Due: ruff, black

refactor(export): вынести экспорт JSON/CSV в steinschliff/export и подключить в CLI
  scripts/cli/commands/export_csv.py
  scripts/cli/commands/export_json.py
  scripts/cli/common.py
  steinschliff/export/__init__.py
  steinschliff/export/csv.py
  steinschliff/export/json.py
  steinschliff/generator.py
  tests/steinschliff/test_export_csv.py
  tests/steinschliff/test_export_json.py
  tests/steinschliff/test_generator_extra.py
Due: ruff, black

refactor(catalog): вынести выбор сервиса и фильтрацию по condition в steinschliff/catalog и упростить команды list/export-csv
  scripts/cli/commands/export_csv.py
  scripts/cli/commands/list_cmd.py
  steinschliff/catalog/__init__.py
  steinschliff/catalog/selection.py
  tests/steinschliff/test_catalog_selection.py
Due: ruff, black

refactor(cli): добавить единый слой пользовательских ошибок и хендлер для команд
  scripts/cli/commands/export_csv.py
  scripts/cli/commands/export_json.py
  scripts/cli/commands/list_cmd.py
  scripts/cli/error_handler.py
  steinschliff/exceptions.py
Due: ruff, black

refactor(config): ввести GeneratorConfig (Pydantic) и перевести генератор/CLI на явный контракт настроек
  scripts/cli/commands/conditions.py
  scripts/cli/commands/export_csv.py
  scripts/cli/commands/export_json.py
  scripts/cli/commands/list_cmd.py
  scripts/cli/common.py
  steinschliff/config.py
  steinschliff/generator.py
  tests/steinschliff/test_config.py
Due: ruff, black

test: зеркалировать тесты по доменам + подтянуть coverage + GeneratorConfig-only
  pyproject.toml
  steinschliff/generator.py
  tests/steinschliff/catalog/__init__.py
  tests/steinschliff/catalog/test_selection.py
  tests/steinschliff/config/__init__.py
  tests/steinschliff/config/test_config.py
  tests/steinschliff/export/__init__.py
  tests/steinschliff/export/test_csv.py
  tests/steinschliff/export/test_json.py
  tests/steinschliff/formatters/__init__.py
  tests/steinschliff/formatters/test_formatters.py
  tests/steinschliff/generator/__init__.py
  tests/steinschliff/generator/test_generator.py
  tests/steinschliff/generator/test_generator_extra.py
  tests/steinschliff/i18n/__init__.py
  tests/steinschliff/i18n/test_i18n.py
  tests/steinschliff/i18n/test_i18n_subprocess.py
  tests/steinschliff/io/__init__.py
  tests/steinschliff/io/test_yaml_partial_validation.py
  tests/steinschliff/snow_conditions/__init__.py
  tests/steinschliff/snow_conditions/test_registry.py
  tests/steinschliff/utils/__init__.py
  tests/steinschliff/utils/test_utils.py
  tests/steinschliff/utils/test_utils_extra.py
Due: ruff, black

refactor(steinschliff): pipeline генерации README + google-style докстринги (RU)
  steinschliff/catalog/selection.py
  steinschliff/config.py
  steinschliff/exceptions.py
  steinschliff/export/csv.py
  steinschliff/export/json.py
  steinschliff/formatters.py
  steinschliff/generator.py
  steinschliff/i18n.py
  steinschliff/io/yaml.py
  steinschliff/logging.py
  steinschliff/models.py
  steinschliff/pipeline/__init__.py
  steinschliff/pipeline/readme.py
  steinschliff/snow_conditions/registry.py
  steinschliff/ui/rich.py
  steinschliff/utils.py
  tests/steinschliff/generator/test_generator.py
  tests/steinschliff/pipeline/__init__.py
  tests/steinschliff/pipeline/test_readme_pipeline.py
Due: ruff, black

refactor(paths): нормализовать пути через pathlib.Path и steinschliff/paths.py
  steinschliff/export/json.py
  steinschliff/formatters.py
  steinschliff/generator.py
  steinschliff/i18n.py
  steinschliff/paths.py
  steinschliff/pipeline/readme.py
  steinschliff/snow_conditions/registry.py
Due: ruff, black

refactor(i18n): перевести работу с путями на pathlib.Path
  scripts/manage_translations.py
  steinschliff/i18n.py
  tests/steinschliff/i18n/test_i18n.py
  tests/steinschliff/i18n/test_i18n_subprocess.py
Due: ruff, black

refactor(snow-conditions): убрать дубли маппинга в CLI
  scripts/cli/commands/export_csv.py
  scripts/cli/commands/list_cmd.py
  scripts/cli/common.py
Due: ruff, black

chore(dev): добавить justfile и документацию (make оставлен для совместимости)
  Makefile
  docs/development.md
  justfile
Due: none

chore(just): сгруппировать команды и добавить doc-описания
  justfile
Due: none

chore(just): добавить help алиас (как make help)
  justfile
Due: none

update docs
  COMMANDS_USAGE.md
  CONTRIBUTING.md
  DEVELOPING.md
Due: none

refactor(cli): перенести entrypoint в steinschliff/cli
  pyproject.toml
  scripts/__init__.py
  scripts/cli/__init__.py
  steinschliff/__main__.py
  steinschliff/cli/__init__.py
  steinschliff/cli/app.py
  steinschliff/cli/commands/__init__.py
  steinschliff/cli/commands/conditions.py
  steinschliff/cli/commands/export_csv.py
  steinschliff/cli/commands/export_json.py
  steinschliff/cli/commands/generate.py
  steinschliff/cli/commands/list_cmd.py
  steinschliff/cli/common.py
  steinschliff/cli/entry_point.py
  steinschliff/cli/error_handler.py
Due: ruff, black

fix(cli): поддержать запуск через python -m steinschliff.cli
  steinschliff/cli/__main__.py
Due: ruff, black

tiny fix
  docs/development.md
  justfile
  tests/steinschliff/catalog/__init__.py
  tests/steinschliff/config/__init__.py
  tests/steinschliff/export/__init__.py
  tests/steinschliff/formatters/__init__.py
  tests/steinschliff/generator/__init__.py
  tests/steinschliff/i18n/__init__.py
  tests/steinschliff/io/__init__.py
  tests/steinschliff/pipeline/__init__.py
  tests/steinschliff/snow_conditions/__init__.py
  tests/steinschliff/utils/__init__.py
Due: ruff, black

update pre-commit
  .pre-commit-config.yaml
Due: none

добавил just check
  justfile
Due: none

docs: consolidate documentation under docs/
  COMMANDS_USAGE.md
  CONTRIBUTING.md
  DEVELOPING.md
  README.md
  README_en.md
  docs/commands.md
  docs/content.md
  docs/contributing.md
  docs/development.md
  docs/index.md
  mkdocs.yml
  schliffs/atomic/AM6.yaml
  schliffs/fischer26/F-226.yaml
  schliffs/fischer26/F-311.yaml
  schliffs/ramsau/OH3.yaml
  schliffs/serviccer/SR12-3.yaml
  schliffs/serviccer/SR15.yaml
  schliffs/serviccer/V7-3.yaml
  structures.csv
Due: check-cyrillic

много мелких улучшений
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  docs/commands.md
  docs/content.md
  docs/contributing.md
  docs/development.md
  docs/index.md
  justfile
  mkdocs.yml
  pyproject.toml
  steinschliff/cli/commands/conditions.py
  steinschliff/cli/commands/export_csv.py
  steinschliff/cli/commands/export_json.py
  steinschliff/cli/commands/list_cmd.py
  steinschliff/formatters.py
  steinschliff/generator.py
  steinschliff/models.py
  steinschliff/paths.py
  tests/conftest.py
  tests/pytest.ini
  tests/steinschliff/formatters/test_formatters.py
  tests/steinschliff/generator/test_generator.py
  tests/steinschliff/generator/test_generator_extra.py
  tests/steinschliff/io/test_yaml_partial_validation.py
  tests/steinschliff/pipeline/test_readme_pipeline.py
  tests/steinschliff/utils/test_utils.py
  uv.lock
Due: ruff, black

release: 1.0.0
  CHANGELOG.md
  pyproject.toml
Due: none
